.login__page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login__page__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login__page__left {
  display: flex;
}

.login__page__right {
  display: flex;
  flex-direction: column;
  
}

.login__signIn__form {
  border: 1px solid lightgray;
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding: 25px;
  margin-top: 7rem;
}

.login__page__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 35px 5px;
  width: 305px;
}

.login__page__form > div {
  padding: 0px;
  margin-bottom: 15px;
}

.login__botton {
  background-color: #0095F6;
  font-family: Helvetica,Arial,sans-serif;
  color: white;
  font-weight: 900;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.login__botton:active {
  transform: scale(0.9);
  transition: transform 0.1s;
}

.login__divider{
  align-self: center;
}

hr {
  display: inline-block;
  width: 95px;
  color: white;
}

.or__divider {
  font-weight: 900;
  font-size: 1rem;
  color: #8E8E8E;
  margin: 0px 15px;
}

.signUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.signUp__title {
  margin-right: 5px;
  
}

.signUp__botton {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #0095F6;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
}

.getTheApp {
  padding: 1.5rem 0;
  text-align: center;
}

.google__apple__stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.google__apple__stores > img {
  padding: 0 10px;
}

.login__footer {
  padding: 6rem 0;
  text-align: center;
  align-self: center;
}

.login__footer > ul {
  display: block;
  max-width: 660px;
}

.login__footer > ul > ul > li {
  display: inline;
  padding: 5px;
  margin-bottom: 5px;
  color: #999999;
  cursor: pointer;
}