.main {
  position: absolute;
  left: 35px;
  z-index: 0;
}

/* .container {
  position: relative;
  z-index: 100;
  left: -303px;
  top: -91px;
} */

.card-container {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.card {
  /* border: 3px #f3f3f3 solid; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  /* max-width: 220px; */
  text-align: left;
  margin: 0 auto;
  position: absolute;
  left: 37px;
  top: -523px;
}